<h1 style="position: relative;left: 20px;top: 20px;"> Chat Room #1 </h1>

<div style="position: relative;left: 30px;top: 30px;" id="messages">
  <%= render @messages %>
</div>

<form style="position: relative;left: 30px;top: 30px;">
  <input placeholder="Say something..." type="text" data-behavior="room_speaker">
</form>