<div style="position:relative;left:20px;top:20px">
  <p>
    <h1>
      Title: <%= @post.title %>
    </h1>
  </p>
  <p>
    <h5>
      Content: <%= @post.content %>
    </h5>
  </p>

  <%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-secondary' %>
  <%= link_to "Delete", post_path(@post),method: :delete,data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger' %>
</div>